@import url(reset.css);

body {
  background-image: url(/res/img/ui/bg.png);
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
    overflow-x: hidden;
}

/* contents */
.container {
  color:white;
  padding: 2rem;
  width: 100%;
  height: 100%;
  

}
.contents {
  display: flex;
  gap:2rem;
  flex-direction: column;
}
.section {
  padding-bottom: 0.6rem;
  backdrop-filter: blur(5px);
}
.section-title {
  line-height: 3rem;
}